[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/sentry-cocoa"]
	path = Submodules/sentry-cocoa
	url = https://github.com/DigiDNA/sentry-cocoa.git
